@import url(https://fonts.googleapis.com/css?family=Libre+Franklin:100,400,600,900&display=swap);
@import url(//fonts.googleapis.com/css?family=Vibur);

//Colors
$background: #182C51;

// Moon animation colors
$moon: #C7938B;
$peak: #efdbd8;
$mobile: 768px;

//Main
html,body{
  height: 100%;
}

.home { 
  box-sizing: border-box;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  display: flex;
  align-items: center;

  .sky {
    z-index: -1;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(30deg, $background, darken($background, 13%));
  }

  .moon{
    background-image: linear-gradient(30deg, darken($background,4.6%), darken($background, 8.3%));
    width: 256px;
    height: 256px;
    border-radius: 50%;
    position: relative;
    &::before {
      content: '';
      background-color: $moon;
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      z-index: -1;
      animation: 30s cresent linear infinite alternate;
    }
    *,*::after, *::before{
      box-sizing: inherit;
    }
  }

  .link-container {
    position: fixed;
    bottom: 30px;
  }
}



//Text
h1,
h2,
h3 {
  font-family: 'Libre Franklin', sans-serif;
}

h1,
h2 {
  font-weight: 800;
}

h6 {
  font-size: 9px;
  text-transform: uppercase;
}

ul {
  padding-inline-start: 0;
}


//Helpers
.hide {
  display: none;
}

.bold {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.no-margin {
  margin: 0;
}

.fit-content {
  width: fit-content;
}

.full-width {
  width: 100%;
}

.flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-spread {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-spread-end {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.flex-spread-start {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.flex-left {
  display: flex;
  align-items: center;
  justify-content: left;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.border-left {
  border-left: .5px solid grey;
  margin-left: 10px;
}

.margin-bottom-10px {
  margin-bottom: 10px;
}

// Components
.separator {
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,.125);
  padding-top: 5px;
}

.content-link,
 .home-link {
  position: fixed;
  top: 20px;;
 }

.content-link {
  right: 20px;;

  a {
    color: $peak;
    text-decoration: none;
    transition: all .5s;
    &:hover, &:active {
      color: $moon;
    }
  }
}

.home-link {
  left: 20px;;

  img {
    height: 20px;
    width: 20px;
  }
}

.article-main-container {
  background-image: linear-gradient(30deg, $background, darken($background, 13%));
}

.article-text-container {
  padding: 20px;
  color: #fff;
  width: 68%;
  margin: auto;
}

// Animations

// Flicker neon sign


.logo {
  text-align: center;
  width: 65%;
  height: 250px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none;
}

.logo b{
  font: 400 8vh "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}
.logo b span{
  animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2){
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

#btn-twtr{
  clear:both;
  color:#fff;
  border:2px solid;
  border-radius:3px;
  text-align:center;
  text-decoration:none;
  display:block;
  font-family:sans-serif;
  font-size:14px;
  width:13em;
  padding:5px 10px;
  font-weight:600;
  position:absolute;
  bottom:20px;
  left:0;
  right:0;
  margin:0 auto;
  background:rgba(0,0,0,0.2);
  box-shadow:0 0 0px 3px rgba(0,0,0,0.2);
  opacity:0.4
}#btn-twtr:hover{color:#fff;opacity:1}


// Moon animation


// keyframes
@keyframes cresent{
  0%{
    transform: translate(-30px, 30px) scale(0.9);
    box-shadow: none;
  }
  50%{
    transform: translate(0px, 0px) scale(1.02);
    box-shadow: 0 0 10px lighten($moon, 30%), 0 0 80px 8px $moon;
    background-color: $peak;
  }
  100%{
    transform: translate(30px, -30px) scale(0.9);
    box-shadow: none;
  }
}

@media (max-width: 768px) {
  .moon{
    width: 160px;
    height: 160px;
  }
}


